<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DonasiKu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.css">
    
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/css/aos.css">

    <link rel="stylesheet" href="/static/css/ionicons.min.css">

    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">

    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">DonasiKu</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/donate/" class="nav-link">Home</a></li>
          <li class="nav-item active"><a href="/donate/send/" class="nav-link">Kirim Donasi</a></li>
          <li class="nav-item"><a href="/logout/" class="nav-link">Log out ({{ request.session.username }})</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('/static/images/bg_6.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Terima kasih sudah berpartisipasi</h1>
            <p>Silahkan kirim donasi ke Bank BCL dengan No. Rekening 12345556678 a.n. Yayasan Peduli Putra Putri Indonesia.</p>
            <p>Kemudian silahkan kirim bukti transfer Anda di form berikut.</p>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section-3 img" style="background-image: url(/static/images/bg_8.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row d-md-flex">
            <div class="col-md-6 d-flex ftco-animate">
                <!-- <div class="img img-2 align-self-stretch" style="background-image: url(/static/images/bg_8.jpg);"></div> -->
            </div> 
            <div class="col-md-6 volunteer pl-md-5 ftco-animate">
                <h3 class="mb-3">Donasi Anda</h3>
                <form method="POST" enctype="multipart/form-data" action="/donate/give/" class="volunter-form">
                  {% csrf_token %}
                  <div class="form-group">
                    <h2>Jumlah Donasi</h2>
                    <input type="text" class="form-control" type="text" name="form-1-amount" placeholder="ex: 10000">
                  </div>
                  <div class="form-group">
                    <h2>Nama Bank</h2>
                    <select name="form-1-bank_name" class="form-control" color="red">
                        <option value="bca">BCA</option>
                        <option value="mandiri">Mandiri</option>
                        <option value="bri">BRI</option>
                        <option value="bni">BNI</option>
                        <option value="permata">Permata Bank</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <h2>No Rekening</h2>
                    <input type="text" class="form-control" type="text" name="form-1-bank_account_no" placeholder="ex: 66652310098">
                  </div>
                  <div class="form-group">
                    <h2>Pemilik Rekening</h2>
                    <input type="text" class="form-control" type="text" name="form-1-bank_account_holder" placeholder="ex: Asep Hidayat">
                  </div>
                  <div class="form-group">
                    <h2>Bukti Transfer</h2>
                    <input type="file" name="form-1-payment-proof" id="form-1-payment-proof" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Kirim Bukti Transfer" class="btn btn-white py-3 px-5">
                  </div>
                </form> 
            </div>              
            </div>
        </div>
    </section>

    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Tentang DonasiKu</h2>
                  <p>Sebuah aplikasi web yang dirancang untuk melayani donasi secara online dengan berbasis pada skema consumer-to-business (C2B).</p>
                  <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                  </ul>
                </div>
              </div>

              </div>
              <div class="col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Punya pertanyaan</h2>
                    <div class="block-23 mb-3">
                      <ul>
                        <li><span class="icon icon-map-marker"></span><span class="text">Jl. Dipatiukur, Coblong, Kota Bandung, Jawa Barat 40132, Indonesia</span></li>
                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">(022) 2504119</span></a></li>
                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@donasiku.com</span></a></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <script src="/static/js/jquery.waypoints.min.js"></script>
  <script src="/static/js/jquery.stellar.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/jquery.animateNumber.min.js"></script>
  <script src="/static/js/bootstrap-datepicker.js"></script>
  <script src="/static/js/jquery.timepicker.min.js"></script>
  <script src="/static/js/scrollax.min.js"></script>
  <script src="/static/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/static/js/google-map.js"></script>
  <script src="/static/js/main.js"></script>

  </body>
</html>