<html>
    <head>
        <title>Donasi Online Yayasan Peduli Kasih</title>
    </head>
    <body>
        <h1>Donasi - {{ item.id }}</h1>
        <hr/>
        <a href="/donate/">Kembali ke Halaman Donasi</a>
        <hr />
        <ul>
            <li>created_at: {{ item.created_at }} </li>
            <li>donatur: {{ item.donatur.username }} </li>
            <li>amount: {{ item.amount }}</li>
            <li>bank_name: {{ item.bank_name }}</li>
            <li>bank_account_holder: {{ item.bank_account_holder }}</li>
            <li>bank_account_no: {{ item.bank_account_no }}</li>
            <li>status: {{ item.status }}</li>
        </ul>
    </body>
</html>