<html>
    <head>
        <title>Donasi Online Yayasan Peduli Kasih</title>
    </head>
    <body>
        <h1>Berikan Donasi</h1>
        <hr/>
        <a href="/donate/">Kembali ke Halaman Donasi</a>
        <hr />
        <p>Silahkan kirim donasi ke Bank BCL dengan No. Rekening 12345556678 a.n. Yayasan Peduli Putra Putri Indonesia.</p>
        <p>Kemudian silahkan kirim bukti transfer Anda di form berikut.</p>

        <form method="POST" enctype="multipart/form-data" action="/donate/give/">
            {% csrf_token %}
            Jumlah Donasi: <input type="text" name="form-1-amount" placeholder="ex: 10000" /> <br/> <br/>
            Nama Bank: <input type="text" name="form-1-bank_name" placeholder="ex: Bank Nasional" /> <br/> <br/>
            No. Rekening: <input type="text" name="form-1-bank_account_no" placeholder="ex: 12345556678" /> <br/> <br/>
            Pemegang Rekening: <input type="text" name="form-1-bank_account_holder" placeholder="ex: Ahmad Dhani" /> <br/>  <br/>
            Bukti Transfer: <input type="file" name="form-1-payment-proof" /> <br/> <br/>
            <input type="submit" value="Kirim Bukti Transfer" />
        </form>
    </body>
</html>