<html>
    <head>
        <title>Donasi Online Yayasan Peduli Kasih</title>
    </head>
    <body>
        <h1>Donasi Saya, {{ user.username }}</h1>
        <hr/>
        <a href="/donate/send/">Kirim Donasi Sekarang</a> | <a href="/logout/">Log out</a>
        <hr />
        <ul>
        {% for item in user_donations %}
        <li>{{ item.created_at }}, amount: {{ item.amount }} | 
            bank info: {{ item.bank_name }} / {{ item.bank_account_holder}} / {{ bank_account_no }} | 
            status: {{ item.status }} | <a href="/donate/{{ item.id }}">Detail</a></li>
        {% endfor %}
        </ul>
    </body>
</html>