<html>
    <head>
        <title>Donasi Online Yayasan Peduli Kasih</title>
    </head>
    <body>
        <h1>Selamat Datang!</h1>
        <hr />
        
        <p>Silahkan login melalui form dibawah ini.</p>

        <form method="POST" action="/login/">
            {% csrf_token %}
            Username: <input type="text" name="form-1-username" placeholder="ex: syarifhidayat" /> <br/> <br/>
            Password: <input type="password" name="form-1-password" /> <br/> <br/>
            <input type="submit" value="Login" />
        </form>
    </body>
</html>